* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #232323;
  display: grid;
  place-items: center;
}

#calculadora {
  background-color: #48bfff;
  color: white;
  width: 350px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  box-shadow: 0 0 20px #48bfff;
}

#pantalla {
  grid-column: 1 / 5;
  background-color: #090c31;
  padding: 1.5rem; /* Crea espacio entre texto y cuadrado*/
  font-size: 1.5rem;
  text-align: right;
  border-radius: .5rem;
  margin-bottom: 1.5rem; /* Genera espacio entre pantalla y botontes*/
  font-weight: bold;
}

.boton{
  background-color: #006da7;
  color:white;
  border: 0; /* Quito el borde */
  padding: 1.5rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem; 
  cursor: pointer; /* Una mano */
}

.boton:hover {
  background-color: #004f78;
}

#cero {
  grid-column: span 2;
}

#igual {
  grid-row: span 2;
  background-color: #e65766;
}

#igual.boton:hover {
  background-color: #e6394a;
}
  